{% extends 'base.html.twig' %}

{% block body %}
  <div class="section">
    <h2>New score</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
  <a href="{{ path('homepage') }}">Go home</a>
{% endblock %}
